<section class="p-course">
    <h2 class="c-section-title">コース紹介</h2>
    <div class="l-container">
        <!-- Slider main container -->
     <div class="p-swiper-container">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><img width="1140" height="544" src="/dist/img/training-banner-1.jpg" alt="ヨガマットの上でヨガをする女性"></div>
          <div class="swiper-slide"><img width="1140" height="544" src="/dist/img/training-banner-2.jpg" alt="ボクササイズでトレーニングをする男性"></div>
          <div class="swiper-slide"><img width="1140" height="544" src="/dist/img/training-banner-3.jpg" alt="ランニングマシーンでランニングをする女性"></div>
          </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
     </div>
     </div>
    </div>
</section>