<div id="js-modal" class="c-modal" aria-hidden="true" role="dialog">
    <div class="c-modal__content" role="document">
        <a href="#" class="c-modal__link">
            <figure class="c-modal__image">
           <picture>
            <source srcset="/dist/img/modal-banner-sp.jpg" media="(max-width:768px)">
            <img src="/dist/img/modal-banner.jpg" alt="健康＆フィットネスの広告バナー">
           </picture>
        </figure>
        </a>
        <button id="js-modal-close" class="c-modal__close-btn" type="button" aria-label="モーダルを閉じる">
            <img width="50" height="50" src="/dist/img/close-icon.png" alt="広告バナーを閉じるボタン">
        </button>
    </div>
</div>