@use"../../foundation/_mixin.scss" as *;

.p-swiper-container{
    margin-top: px-clamp(56,72,375,2000);


// デフォルトの矢印を消す
    .swiper-button-prev,
    .swiper-button-next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent; /* 背景色を透明にする */
        border: none; /* 枠線を削除 */
        border-radius: 50%;
        cursor: pointer;
        width: px-clamp(30, 90, 375, 1360); /* ボタンの幅 */
        height: px-clamp(30, 90, 375, 1360); /* ボタンの高さ */
     &::after {
        content: ''; /* 擬似要素の内容を空にする */
         display: none;
      }
    }
    // prev
    .swiper-button-prev{
        background-image: url(/dist/img/slide-btn-prev.png);
        background-size: contain; /* アイコンのサイズを調整 */
        background-repeat: no-repeat;
        background-position: center; /* アイコンを中央に配置 */
    }
    // next
    .swiper-button-next{
        background-image: url(/dist/img/slide-btn-next.png);
        background-size: contain; /* アイコンのサイズを調整 */
        background-repeat: no-repeat;
        background-position: center; /* アイコンを中央に配置 */
     }
}